@{
    ViewData["Title"] = "Çıkış Yap";
}

<div class="container mt-5 text-center">
    <h2>@ViewBag.Mesaj</h2>
    <hr />
    <form asp-controller="User" asp-action="LogoutConfirm" method="post">
        <button type="submit" class="btn btn-danger btn-lg">Yes, Log out</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary btn-lg">No, Later</a>
    </form>
</div>