@{
    ViewData["Title"] = "Home Page";
}

<h1 class="h3 text-center align-items-center font-monospace">Hello Welcome To Coder Blog</h1>
<hr />
<p class="fw-bold mt-5">Who We Are and What We Aim For? : <p>We aim to offer you a social blog and chat application exclusively for developers. And we want to see young developers like you among us. <br />We know you don't like this font, but there's no other way to keep you all awake :)</p> </p>
<br />
